*{
    padding: 0;
    margin : 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none ;
    text-decoration:  none;
}
body{
    background: black;
    background-image:url(https://images6.alphacoders.com/425/425066.jpg) ;
}
model-viewer {
    height: 500px;
    width: 500px;
}
header{
    position: fixed;
    right: 0 ;
    top: 0 ;
    z-index: 1000 ;
    width: 100% ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent ;
}
.logo img{
    width: 200px;
    height: 100px;
}
.navlist{
    display: flex;
}
.navlist a{
    color: white;
    margin-left: 60px ;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navlist a:hover{
 border-bottom: 2px solid white;
}
#menu-icon{
    color: white;
    font-size: 30px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.tmax1{
    height: 100%;
    width:  100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 15rem;
}
section{
    padding: 0 19%;
}
.tmax1-text h5 {
    font-size: 14px;
    font-weight:  400;
    color: white;
    margin-bottom:  40px;
}
.tmax1-text h1{
    font-family: "Permanent Marker", cursive;
    font-size: 90px;
    line-height: 1;
    color: white;
    margin: 0 0 45px;
}
.tmax1-text h4{
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}
.tmax1-text p{
    font-size: 15px;
    color: white;
    line-height: 1.9;
    margin-bottom: 40px;
}
.tmax1-text a{
    display: inline-block;
    color: white;
    background: gray;
    border: 1px white;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}
.tmax1-text a:hover{
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}
.icons{
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
}
.icons i{
    display: block;
    margin: 26px 0;
    font-size: 24px;
    color: white;
    transition: all .50s ease;
}
@media (max-width :1535px){
    header{
      padding: 15px 3%;
      transition: .2s;
    }
    .icons{
      padding: 0 3%;
      transition: .2s;
    }
  }
  @media (max-width :1460px){
      section{
          padding: 0 12%;
          transition: .2s;
      }
  }
  @media (max-width :1340px){
      .tmax1-img img{
          width: 100%;
          height: auto;
  
      }
      .tmax1-text h1{
          font-size: 70px;
          margin: 0 0 30px;
      }
      .tmax1-text h5{
          margin-bottom: 25px;
      }
  }
  @media (max-width :1195px){
      section{
          padding: 0 3%;
          transition: .2s;
      }
      .tmax1-text{
          padding-top: 115px ;
      }
      .tmax1-img{
          text-align: center;
      }
      .tmax1-img img{
          width: 560px;
          height: auto;
      }
      .tmax1{
          height: 100%;
          gap: 1rem;
          grid-template-columns: 1fr;
      }
      .icons{
          display: none;
      }
  }
  @media (max-width :990px){
      #menu-icon{
          display: block;
      }
      .navlist{
          position: absolute;
          top: 100%;
          right:-100%;
          width: 300px;
          height: 40vh;
          background: black;
          display: flex;
          align-items: center;
          flex-direction: column;
          padding: 50px 20px;
          transition: all .55s ease;
  
      }
      .navlist a {
        display: block;
        margin: 10px 0;
        margin-left: 0;
      }
      .navlist.open{
          right: 0;
      }
  
  }
  
  @media (max-width :680px){
      .tmax1-img img{
          width: 100%;
          height: auto;
      }
  }
  